

body {
    background-color: #A9E7BA; 
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    
}


header {
    flex: 1 1 100vw;
    height: 100px; 
}

nav { 
    flex: 1 1 100vw;
    height: 100px; 
}

main {
    flex: 1 1 100vw;
    height: 600px; 
}

aside {
    flex: 1 1 100vw;
    height: 100px; 
}

footer {
flex: 1 1 100vw;
height: 100px;    
}

.mb-3 {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container-fluid {

    padding-top: 100px;
    
}

.container-sm {

    max-width: 50%;
    max-height: 50%;
}

.container-md {
    padding-top: 40px;
    max-width: 70%;
    max-height: 70%;
}

.container-lg {
    padding-top: 40px;
    max-width: 70%;
    max-height: 70%;
    text-align: center;
    font-size: 16px;
}

.btn-success {    
    background-color: #4caf50;
    border-color: #4caf50;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

.d-grid {

    padding-top: 1.3rem; 
}



/* ------------------------------*/
